[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
seaborn = "*"
altair = "*"
scikit-learn = "*"
python-dotenv = "*"
matplotlib = "*"
pandas = "*"
cohere = "*"
streamlit = "*"
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.12"
